doctype html

html(lang="cs")
	head
		<!-- Definice meta tagů -->
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=0.7, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible", content="ie=edge")

		<!-- CSS -->
		link(rel="stylesheet", type="text/css", href="plugins/owl.carousel.min.css")
		link(rel="stylesheet", type="text/css", href="plugins/owl.theme.default.min.css")		
		link(rel="stylesheet", type="text/css", href="styles/style.css")
		
		<!-- JS -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="scripts/script.js")

		<!-- Ostatní parametry -->
		title= "FBLogin"
		
		link(rel='manifest', href='data/manifest.json')
		meta(name='theme-color', content=manifest.theme_color)

		body
			#fb-root

		
			block header
			block content
			block footer
